
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-filled:before { content: '\e801'; } /* '' */
.icon-plane:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-key:before { content: '\e807'; } /* '' */
.icon-user-add-outline:before { content: '\e808'; } /* '' */